.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-center{
  display: block;
  margin-left: auto;
  margin-right: auto
}

#videoContainer {
    width:640px;
    background-image: url(load1.gif);
    text-align: left;
    border:480px;
    margin:0 auto;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100%;
}
